// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
//@import '../../node_modules/fortawesome/fontawesome-free';
//@import '@fortawesome';
//@import "node_modules/font-awesome/scss/font-awesome.scss";
@font-face {
  font-family: 'AvenirBook';
  src: url('/laravelprojects/flevents/resources/fonts/Avenir Book.otf') format("opentype"); /* IE9 Compat Modes */       
}

$text-color: #8e8e92;

body {
	font-family: 'AvenirBook', sans-serif;
	background-color: #ffffff;
}
.logo-holder {
	margin: 120px 0;
	@include media-breakpoint-down(sm) { 
		margin: 30px 0;
	}	
}

.upload-image {
	margin: 120px 0;
	@include media-breakpoint-down(sm) { 
		margin: 30px 0;
	}	
}
.card-header {
	font-size: 34px;
	text-align: center;
	background-color: #ffffff;
	border: none;
	color: #1d1d26;
}
.card {
	border-radius: 0;
	border: none;
	max-width: 625px;
	width: 100%;
	margin: 0 auto;
	.form-control {
		border: 1px solid #ffffff;
		border-radius: 0;

	}
	.form-row {
		border-bottom: 2px solid #f3f3f4;
		label {
			color: $text-color;
			font-size: 20px;
			@include media-breakpoint-down(sm) { 
				font-size: 17px;
			}
		}
		.btn-link {
			font-size: 26px;
			color: $text-color;
		}
	}
	.line-holder {
		font-size: 20px;
		text-transform: uppercase;
		color: $text-color;
		.signup {
			color: #1d1d26;
			margin: 0 10px;
		}
	}
	.btn{
		&.btn-custom {
			height: 110px;
			background-color: #50d2c2;
			width: 100%;
			max-width: 625px;
			padding: 10px;
			font-size: 30px;			
			color: #ffffff;
			margin: 60px auto;
			display: block;
			border-radius: 0;
			@include media-breakpoint-down(sm) { 
				height: 50px;
				line-height: 1;
				font-size: 25px;
				margin: 25px auto;
			}
		}
	}
	.events-holder {
		padding: 0 40px;
		@include media-breakpoint-down(sm) {

			padding: 0 20px;		
		}
		.row{
			.content {
				border-bottom: 2px solid #f3f3f4;
				padding: 60px 0;
			    margin: 0 30px;
			    @include media-breakpoint-down(sm) {

					margin: 0 15px;		
				}				
				color: #1d1d26;
				.title-holder {
					cursor:grab;
					h3 {
						font-size: 30px;
						@include media-breakpoint-down(sm) { 						
							font-size: 22px;
						}	
					}
				}
				.time-place-holder {
					font-size: 24px;
					display: -webkit-box;
    				display: -ms-flexbox;
    				display: flex; 
    				flex-wrap: wrap;   				 
					float: left;
					cursor:grab;
					@include media-breakpoint-down(sm) { 
						font-size: 20px;
						float: none;
					}	
    				.time {
    					position: relative;
    					padding-left: 40px;    					
    					&:before {
    						content: " ";
    						display: block;
    						position: absolute;
    						height: 30px;
    						width: 30px;
    						left: 0px;
    						background: url("/laravelprojects/flevents/public/images/time.png") no-repeat center center;
    					}
    				}
    				.place {
    					padding-left: 40px;
    					position: relative;
    					margin-left: 15px;    					
    					&:before {
    						content: " ";
    						display: block;
    						position: absolute;
    						height: 30px;
    						width: 18px;
    						left: 0px;
    						background: url("/laravelprojects/flevents/public/images/pin.png") no-repeat center center;
    					}
    				}
				}
				.delete-holder {					 
					float: right;
					text-align: right;
					@include media-breakpoint-down(sm) { 						
						float: none;
					}	
				}
			}
		}
	}
}

#add_new_task, #edit_task {
	.form-control {
		border: none;
	}
	.form-group {
		border-bottom: 2px solid #f3f3f4;
	}
}

.color-picker {
	position: relative;
	.color-sample {
		position: absolute;
		right: 0;
		top: 30px;
		width: 200px;
		height: 30px;
	}
}
